$color-level1: #FFF;
$color-background: #F0F0F0;
$color-placeholder: #999;
$color-accent: #03A9F4;

$multiselectTagsBorderRadius: 0;
$multiselectTagsBorder: none;
$multiselectPlaceholderColor: $color-placeholder;
$multiselectBg: $color-background;
$multiselectTagsBgColor: $color-background;
$color2: $color-accent;