/*
    Musigger Application
    Designed by Anton Zolotov (antonzolotov@outlook.com)
*/

@import "~foundation-sites/scss/foundation";
@include foundation-xy-grid-classes;
@include foundation-forms;

@import "./assets/app.scss";

@font-face {
    font-family: "futura-pt";
    font-style: normal;
    font-weight: bold;
    src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.5201fc3a314d.eot?&1e781793c759#iefix") format("embedded-opentype"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.b650e9c2aaf6.woff2?1e781793c759") format("woff2"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.038ac2935219.woff?1e781793c759") format("woff"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.c056901ef82f.ttf?1e781793c759") format("truetype"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-medium.3bb7659593c8.svg?1e781793c759#FuturaPTWeb-Book") format("svg");
}
@font-face {
    font-family: "futura-pt";
    font-style: normal;
    font-weight: normal;
    src: url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-book.325fc4671f06.eot?&1e781793c759#iefix") format("embedded-opentype"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-book.2dadbb3c03c1.woff2?1e781793c759") format("woff2"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-book.b65339f98771.woff?1e781793c759") format("woff"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-book.187839f67492.ttf?1e781793c759") format("truetype"), url("https://cdn-resources.ableton.com/80bA26cPQ1hEJDFjpUKntxfqdmG3ZykO/static/fonts/futura-pt-book.60a93019c94b.svg?1e781793c759#FuturaPTWeb-Book") format("svg");
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-placeholder;
}
input::-moz-placeholder { /* Firefox 19+ */
    color: $color-placeholder;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: $color-placeholder;
}
input:-moz-placeholder { /* Firefox 18- */
    color: $color-placeholder;
}
* {
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
    font-family: 'futura-pt', 'Oswald', sans-serif;
}
html, body {
    background-color: $color-background;
}
body {
    position: relative;
    margin: 0;
}
a {
    color: $color-link;
    &:visited {
        color: $color-link-visted;
    }
}
blockquote {
    margin: 0;
}
.button {
    display: inline-block;
    background-color: transparent;
    // background-color: darken($color-background,15%);
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    color: $color-darkgrey;
    transition: all 0.2s ease;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
        background-color: $color-accent;
        color: $color-level1;
    }
    &:visted {
        color: $color-darkgrey !important;
    }
}
.fa-icon {
    position: relative;
    top: 0.1em;
}
@media #{$small-only} {
    body {
        margin: 0;
    }
    .grid-container {
        padding: 0;
    }
}
#loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 1;
    top: 0;
    left: 0;
    .loader{
        position:fixed;
        margin: auto;
        left:0;
        right:0;
        top:50%;
        width : 90px;
        ul {
            margin : 0;
            list-style:none;
            width:90px;
            position : relative;
            padding : 0;
            height:10px;
            li {
                position : absolute;
                width: 8px;
                height : 0;
                background-color: #000;
                bottom: 0;
            }
        }
    }
}

@keyframes sequence1 {
    0%{ height: 10px; }
    50%{ height:50px; }
    100%{ height: 10px; }
}

@keyframes sequence2 {
    0%{ height: 20px; }
    50%{ height: 65px; }
    100%{ height: 20px; }
}

#loader li:nth-child(1){
  left : 0;
  animation: sequence1 1s ease infinite 0;
}
#loader li:nth-child(2){
  left : 15px;
  animation: sequence2 1s ease infinite 0.1s;
}
#loader li:nth-child(3){
  left : 30px;
  animation: sequence1 1s ease-in-out infinite 0.2s;
}
#loader li:nth-child(4){
  left : 45px;
  animation: sequence2 1s ease-in infinite 0.3s;
}

#loader li:nth-child(5){
  left : 60px;
  animation: sequence1 1s ease-in-out infinite 0.4s;
}
#loader li:nth-child(6){
  left : 75px;
  animation: sequence2 1s ease infinite 0.5s;
}

.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fadeout-enter-active {
    transition: opacity 0s;
}
.fadeout-leave-active {
    transition: opacity 0.5s;
}
.fadeout-enter {
    opacity: 1;
}
.fadeout-leave-to {
    opacity: 0;
}
